* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    /*
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    */
    background-color: #BDD7E7;
    display: grid;
    place-items: center;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    gap: 10px;
}

.box {
    padding: 50px;
    border-radius: 0 0 5px 5px;
    background-color: #6BAED6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    max-width: 500px;
    padding: 50px 70px 20px 70px;
    border-radius: 5px 5px 0 0;
    background-color: #2171B5;
    text-align: center;
}

input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.label {
    margin-top: 5px;
}

button {
    width: 90px;
    padding: 12px 15px 10px 15px;
    border-radius: 5px;
    background-color: #2171B5;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

a {
    padding-left: 10px;
    color: white;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/*
span {
    text-decoration: underline;
}
*/


h4 {
    padding-top: 10px;
}

/* Responsive */

@media (max-width: 600px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
        padding: 40px;
    }
}